{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{#    <style>#}
{#        body {#}
{#            background-image: url("{% static 'images/ivy_2.jpg' %}");#}
{#            background-size: contain;#}
{#            background-position: center;#}
{#            background-repeat: no-repeat;#}
{#        }#}
    </style>
    <div class="d-flex justify-content-between">
        <h1>Menu Creator</h1>
    
        <form action="{% url 'Generator:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary">Log out</button>
        </form>
    </div>
    <div class="d-flex gap-2" style="flex-wrap: wrap;">
        <!-- main course card-->
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/main_courses.jpg' %}" class="card-img-top" alt="Main Courses">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
                
                <a href="{% url 'Generator:main_courses' %}" class="btn btn-primary">Main Courses</a>
            </div>
        </div>

        <!-- Soups card -->
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/soups.jpg' %}" class="card-img-top" alt="Soups" style="object-fit: cover; object-position: center bottom; width: 100%;">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
                
                <a href="{% url 'Generator:soups' %}" class="btn btn-primary">Soups</a>
            </div>
        </div>

        <!-- salad card-->
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/salads.jpg' %}" class="card-img-top" alt="Salads">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
               
                <a href="{% url 'Generator:salads' %}" class="btn btn-primary">Salads</a>
            </div>
        </div>

        <!-- Side dish card-->
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/side_dishes.jpg' %}" class="card-img-top" alt="Side Dishes">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
                
                <a href="{% url 'Generator:side_dishes' %}" class="btn btn-primary">Side Dishes</a>
            </div>
        </div>

        <!-- Daily menu card -->
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/daily_menu.jpg' %}" class="card-img-top" alt="Generate Daily Menu" style="object-fit contain; width: 100%; height: 120px">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
                
                <a href="{% url 'Generator:create_daily_menu' %}" class="btn btn-success">Generate menu for the day</a>
            </div>
        </div>
    </div>
    <style>
        .card-img-top {
            height: 250px;
            object-fit: cover;
        }
    </style>
    <a href="{% url 'Generator:password_change' %}">Change password</a>
{% endblock %}