{% extends 'base.html' %}  <!-- Extend base.html template -->

{% load static %}  <!-- Load static files -->

{% block title %}Dashboard{% endblock %}  <!-- Set the title of the page -->

{% block content %}
    <style>
        /* Styling for background image */
        body::after {
            content: "";
            background-image: url("{% static 'images/restaurant-bckgr.jpg' %}");
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.65; /* Set opacity for background overlay */
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: -1; /* Ensure background remains behind content */
        }
    </style>

    <div class="d-flex justify-content-between">
        <h1>Welcome {{ user.username }}, in Menu Creator!</h1> <!-- Display welcome message with username -->
        <form action="{% url 'Generator:logout' %}" method="post"> <!-- Logout form -->
            {% csrf_token %} <!-- CSRF token for security -->
            <button class="btn btn-primary">Log out</button> <!-- Logout button -->
            <a href="{% url 'Generator:password_change' %}" class="change-password-link">Change password</a> <!-- Change password link -->
        </form>
    </div>

    <hr class="hr"> <!-- Horizontal rule -->

    <h2 class="mt-4 text-center">Manage your database</h2> <!-- Section title -->

    <div class="d-flex justify-content-center flex-wrap gap-3">
        <!-- Main course card -->
        <div class="card">
            <img src="{% static 'images/main_courses.jpg' %}" class="card-img-top" alt="Main Courses"> <!-- Main courses image -->
            <div class="card-body">
                <a href="{% url 'Generator:main_courses' %}" class="btn btn-primary">Main Courses</a> <!-- Link to manage main courses -->
            </div>
        </div>

        <!-- Soups card -->
        <div class="card">
            <img src="{% static 'images/soups.jpg' %}" class="card-img-top" alt="Soups"> <!-- Soups image -->
            <div class="card-body">
                <a href="{% url 'Generator:soups' %}" class="btn btn-primary">Soups</a> <!-- Link to manage soups -->
            </div>
        </div>

        <!-- Salads card -->
        <div class="card">
            <img src="{% static 'images/salads.jpg' %}" class="card-img-top" alt="Salads"> <!-- Salads image -->
            <div class="card-body">
                <a href="{% url 'Generator:salads' %}" class="btn btn-primary">Salads</a> <!-- Link to manage salads -->
            </div>
        </div>

        <!-- Side dish card -->
        <div class="card">
            <img src="{% static 'images/side_dishes.jpg' %}" class="card-img-top" alt="Side Dishes"> <!-- Side dishes image -->
            <div class="card-body">
                <a href="{% url 'Generator:side_dishes' %}" class="btn btn-primary">Side Dishes</a> <!-- Link to manage side dishes -->
            </div>
        </div>
    </div>

    <hr class="hr"> <!-- Horizontal rule -->

    <h2 class="mt-4 text-center">Generate your menu!</h2> <!-- Section title -->

    <div class="d-flex justify-content-center">
        <div class="card">
            <img src="{% static 'images/daily_menu.jpg' %}" class="card-img-daily_menu" alt="Generate Daily Menu"> <!-- Daily menu image -->
            <div class="card-body">
                <a href="{% url 'Generator:create_daily_menu' %}" class="btn btn-success">Generate menu for the day</a> <!-- Link to generate daily menu -->
            </div>
        </div>
    </div>
{% endblock %}
