{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/add_bckgr.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: -1;
        }
    </style>
    <div class="centered-content">
        <h1>Add Side Dish</h1>

        <form method="post" action="{% url 'Generator:add_side_dish' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button class="btn btn-primary">Add</button>
                <a href="{% url 'Generator:side_dishes' %}" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
{% endblock %}
