{% extends "base.html" %}  {# Extends the base.html template #}
{% load widget_tweaks %}  {# Loads widget tweaks for form styling #}
{% load static %}         {# Loads static files like images #}

{% block content %}  {# Begins the content block #}

    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/add_bckgr.jpg' %}");  {# Sets background image #}
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: -1;
        }
    </style>

    <div class="centered-content">  {# Div for centering content #}
        <div class="row justify-content-center">  {# Row for centering content horizontally #}
            <div class="col-12 col-md-6">  {# Column sizing for medium and larger screens #}
                <h1>Add Side Dish</h1>  {# Heading for the add side dish form #}
                <form method="post" action="{% url 'Generator:add_side_dish' %}">  {# Form for adding side dish #}
                    {% csrf_token %}  {# CSRF token for security #}
                    <div class="mb-3">
                        {{ form.name.errors }}  {# Displays errors related to the name field #}
                        <label class="mb-1" for="{{ form.name.id_for_label }}">Name</label>  {# Label for name field #}
                        {{ form.name|add_class:"form-control" }}  {# Renders name field with Bootstrap form-control class #}
                    </div>

                    <div class="mb-3">
                        {{ form.username.errors }}  {# Displays errors related to the username field #}
                        <label class="mb-1" for="{{ form.description.id_for_label }}">Description</label>  {# Label for description field #}
                        {{ form.description|add_class:"form-control" }}  {# Renders description field with Bootstrap form-control class #}
                    </div>

                    <div class="button-container">  {# Container for buttons #}
                        <button class="btn btn-primary">Save</button>  {# Submit button to add side dish #}
                        <a href="{% url 'Generator:side_dishes' %}" class="btn btn-secondary">Back</a>  {# Link to go back to side dishes list #}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}  {# Ends the content block #}
