{% extends "base.html" %}

{% block title %} Main courses {% endblock %}

{% block content %}
    {% url 'Generator:add_main_course' as add_main_course_url %}
    {% include "partials/section_header.html" with title="Your Main Course" create_text="Add main course" url_link=add_main_course_url %}

    {% for main_course in main_courses %}
        <div id="main-course-{{ main_course.id }}" class="item">
            <div>{{ main_course.name }}</div>
            <div class="item-actions">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-main-course-{{ main_course.id }}">Delete</button>
                {% include "modals/delete_main_course.html" with id=main_course.id %}
                <a href="{% url 'Generator:edit_main_course' id=main_course.id %}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}