{% extends "base.html" %}

{% block title %} Side dishes {% endblock %}

{% block content %}

    <h1>Your Side dishes</h1>
    
    {% for side_dish in side_dishes %}
        <div id="side-dish-{{ side_dish.id }}">
            <div>{{ side_dish.name }}</div>

             <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-side-dish-{{ side_dish.id }}">Delete</button>

             {% include "modals/delete_side_dish.html" with id=side_dish.id %}
             <a href="{% url 'Generator:edit_side_dish' id=side_dish.id %}" class="btn btn-primary">Edit</a>
        </div>
    {% endfor %}

     <a href="{% url 'Generator:add_side_dish' %}" class="btn btn-primary">Add side dish</a>
     <a href="{% url 'Generator:dashboard' %}" class="btn btn-secondary">Back</a>
{% endblock %}