{% extends "base.html" %}

{% block title %} Soups {% endblock %}

{% block content %}

    <h1>Your Soups</h1>

    
    {% for soup in soups %}
        <div id="soup-{{ soup.id }}">
             <div>{{ soup.name }}</div>

             <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-soup">Delete</button>

             {% include "modals/delete_soup.html" with id=soup.id %}
             <a href="{% url 'Generator:edit_soup' id=soup.id %}" class="btn btn-primary">Edit</a>
        </div>
    {% endfor %}

    <a href="{% url 'Generator:add_soup' %}" class="btn btn-primary">Add soup</a>
    <a href="{% url 'Generator:dashboard' %}" class="btn btn-secondary">Back</a>

{% endblock %}