{% extends "base.html" %}

{% block title %} Main courses {% endblock %}

{% block content %}

    <h1>Your Main Course</h1>
 

    {% for main_course in main_courses %}
        <div id="main-course-{{ main_course.id }}">
            <div>{{ main_course.name }}</div>
            
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-main-course-{{ main_course.id }}">Delete</button>

            {% include "modals/delete_main_course.html" with id=main_course.id %}
            <a href="{% url 'Generator:edit_main_course' id=main_course.id %}" class="btn btn-primary">Edit</a>
        </div>
    {% endfor %}

    <a href="{% url 'Generator:add_main_course' %}" class="btn btn-primary">Add main course</a>
    <a href="{% url 'Generator:dashboard' %}" class="btn btn-secondary">Back</a>
{% endblock %}