{% extends "base.html" %}
{% load static %}
{% block title %} Side dishes {% endblock %}

{% block content %}
    <style>
        body {
            background-image: url("{% static 'images/Side_dish_bckgr.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
    {% url 'Generator:add_side_dish' as add_side_dish_url %}
    {% include "partials/section_header.html" with title="Your Main Coures" create_text="Add Side dishes" url_link=add_side_dish_url %}
    
    {% for side_dish in side_dishes %}
        <div id="side-dish-{{ side_dish.id }}" class="item">
            <div>{{ side_dish.name }}</div>
            <div class="item-actions">
             <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-side-dish-{{ side_dish.id }}">Delete</button>

             {% include "modals/delete_side_dish.html" with id=side_dish.id %}
             <a href="{% url 'Generator:edit_side_dish' id=side_dish.id %}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    {% endfor %}

     <a href="{% url 'Generator:add_side_dish' %}" class="btn btn-primary">Add side dish</a>
{% endblock %}