{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <h1> Menu Creator </h1>

    <h2>Login page</h2>

    <form action="{% url 'Generator:login' %}" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-primary">Login</button>
        <a href="{% url 'Generator:register' %}" class="btn btn-secondary">Don´t have an account yet?</a>
        <a href="{% url 'Generator:password_reset' %}" class="btn btn-secondary">Reset your password</a>
    </form>
{% endblock %}