{% extends 'base.html' %}
{% load static %}
{% block title %} Change password done {% endblock %}

{% block content %}
    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/forgot-bckgr.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    </style>
    <h1>Change password done</h1>

    <p>Your password has been successfully changed</p>
    <a class="btn btn-primary" href="{% url 'Generator:dashboard' %}">Dashboard</a>
{% endblock %}