{% extends 'base.html' %}
{% block title %} Password reset {% endblock %}

{% block content %}

    <h1>Forgotten password?</h1>
    <p>If email exists we will send you reset link</p>

    <div class="row">
         <div class="col-4">
              <form method="post" action="{% url 'Generator:password_reset' %}">
                  <div class="mb3">
                      {{ form.email.errors }}

                      <input
                              type="text"
                              class="form-control"
                              name="{{ form.email.name }}"
                              id="{{ form.email.id_for_label }}"
                      >                     
                  </div>
                    <button class="btn btn-primary">Send email</button>
                    <a class="btn btn-primary" href="{% url 'Generator:login' %}">Back to login</a>
              {% csrf_token %}
              </form>
        </div>
    </div>

{% endblock %}