{% extends 'base.html' %}  {# Extends the base.html template #}
{% load static %}  {# Loads the static files template tag library for handling static files #}

{% block title %} Password reset complete {% endblock %}  {# Sets the title of the page displayed in the browser tab #}

{% block content %}
    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/forgot-bckgr.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    </style>

    <h1>Reset your password</h1>  {# Main heading indicating the password reset form #}

    {% if validlink %}
        <p>Type your password</p>  {# Instruction for the user to type their new password #}
        <form method="post">
            {{ form.as_p }}  {# Renders the form fields as paragraphs #}
            {% csrf_token %}  {# Generates a CSRF token for form security #}
            <button class="btn btn-primary">Change password</button>  {# Submit button to change the password #}
        </form>
    {% else %}
        <p>The link is invalid</p>  {# Message displayed if the password reset link is invalid #}
    {% endif %}
{% endblock %}