{% extends 'base.html' %}
{% load static %}

{% block title %} Password reset complete {% endblock %}

{% block content %}
    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/forgot-bckgr.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    </style>

    <div class="container">
        <h1>Reset your password</h1>  {# Main heading indicating the password reset process #}

        <p>We have sent you instructions to your email.</p>  {# Informing the user about the instructions sent to their email #}
    </div>
{% endblock %}