{% extends 'base.html' %}
{% load static %}
{% block title %} Password reset {% endblock %}

{% block content %}
    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/forgot-bckgr.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    </style>

    <h1>Forgotten password?</h1>
    <p>If email exists we will send you reset link</p>

    <div class="row">
         <div class="col-4">
              <form method="post" action="{% url 'Generator:password_reset' %}">
                  <div class="mb3">
                      {{ form.email.errors }}

                      <input
                              type="text"
                              class="form-control"
                              name="{{ form.email.name }}"
                              id="{{ form.email.id_for_label }}"
                      >                     
                  </div>
                    <button class="btn btn-primary">Send email</button>
                    <a class="btn btn-primary" href="{% url 'Generator:login' %}">Back to login</a>
              {% csrf_token %}
              </form>
        </div>
    </div>

{% endblock %}