/* CSS Variables */

/* Defining color variables for reuse throughout the document */
:root {
    --gold-color: #DAA520;
    --white: #ebf8ff;
    --brown: #3D261C;
}
/* CSS Variables End */

/* General Styles */

/* Style for primary button */
.btn-primary {
    background-color: var(--gold-color);
    border-color: var(--gold-color);
}

/* Style for custom heading */
.custom-heading {
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Styles for various heading levels */
h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
}

h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 45px;
    margin-bottom: 60px;
    margin-top: 50px;
}

/* Style for horizontal rule */
hr {
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px;
}

/* Style for horizontal rule used in meals section */
hr-meals {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 1px;
}

/* Style for the body of the page */
body {
    color: var(--brown);
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
}

/* Flexbox utility classes */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-3 {
    gap: 1rem;
}

/* Centering content */
.centered-content {
    margin: auto auto; /* Horizontal centering */
    text-align: center; /* Center text */
}

/* Container for buttons */
.button-container {
    margin-top: 20px; /* Optional spacing between buttons and form */
}

/* Style for back arrow */
.arrow-back {
    color: var(--gold-color);
    font-size: 30px;
}

/* Style for list items */
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* General Styles End */

/* Card Styles */

/* Style for cards */
.card {
    width: 18rem;
    margin-bottom: 20px; /* Spacing between cards */
}

/* Style for card top image */
.card-img-top {
    height: 250px;
    object-fit: cover;
}

/* Style for daily menu image on the card */
.card-img-daily_menu {
    object-fit: contain;
    width: 100%;
    height: 120px;
}

/* Style for card body */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brown); /* Card background color */
}

/* Style for change password link */
.change-password-link {
    color: red;
}

/* Style for items in the card */
.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Style for item actions */
.item-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

/* Card Styles End */

/* Pagination Styles */

/* Style for pagination */
.pagination .page-item .page-link {
    color: var(--brown); /* Text color */
    background-color: lightgray; /* Background color */
    border-color: var(--brown); /* Border color */
}

/* Style for active page in pagination */
.pagination .page-item.active .page-link {
    background-color: var(--gold-color); /* Background color of active page */
    border-color: var(--brown); /* Border color of active page */
}

/* Style for pagination page on hover */
.pagination .page-item .page-link:hover {
    background-color: #495057; /* Background color on hover */
    border-color: #495057; /* Border color on hover */
}

/* Pagination Styles End */
