.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.card {
    width: 18rem;
    margin-bottom: 20px; /* Odsazení mezi kartami */
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A0522D
}

.btn-primary {
    background-color: #DAA520;
    border-color: #DAA520;
}

h1,h2 {
        margin-bottom: 80px;
}
