/*css variables*/



:root {
    --gold-color: #DAA520;
    --white: #ebf8ff;
    --brown: #3D261C;
}

body {
    color: var(--brown);
    font-family:"Century Gothic", sans-serif;
    font-weight: bold;
}

.card {
width: 18rem;
margin-bottom: 20px; /* Odsazení mezi kartami */
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-img-daily_menu {
    object-fit:contain;
    width: 100%;
    height: 120px
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brown); /* Barva pozadí karty */
}

.btn-primary {
    background-color: var(--gold-color);
    border-color: var(--gold-color);
}

.custom-heading {
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
}


h1 {
    font-family:'Dancing Script', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
}

h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 45px;
    margin-bottom: 60px;
    margin-top: 100px;
}

hr {
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px;
}

hr-meals {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 1px;

}

.change-password-link {
    color: red;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-3 {
    gap: 1rem;
}

.centered-content {
    margin: 10px auto; /* Horizontální centrování */
    text-align:center; /* Centrovat text */
}

.button-container {
    margin-top: 20px; /* Volitelné nastavení vzdálenosti mezi tlačítky a formulářem */
}

.arrow-back {
    color: var(--gold-color);
    font-size: 30px
}