{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Registration {% endblock %}

{% block content %}
    <style>
        body::after {
            content: "";
            background-image: url("{% static 'images/register-bckgr.jpg' %}");
            background-size: cover ;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }
    </style>
    <div class="d-flex flex-column align-items-center">
    <header>
        <h1> Menu creator </h1>
        <hr class="hr">
    </header>
    <h2>Create new account</h2>

    <div class="row w-100 d-flex justify-content-center">
        <div class="col-12 col-md-5">
            <form action="{% url 'Generator:register' %}" method="post">
                <div class="mb-3">
                    {{ form.username.errors }}
                    <label class="mb-1" for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username|add_class:"form-control" }}

                    {% if form.username.help_text %}
                        <div class="form-text" id="{{ form.username.auto_id }}_helptext">
                            {{ form.username.help_text|safe }}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.email.errors }}
                    <label class="mb-1" for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email|add_class:"form-control" }}
                </div>

                <div class="mb-3">
                    {{ form.first_name.errors }}
                    <label class="mb-1" for="{{ form.first_name.id_for_label }}">First name</label>
                    {{ form.first_name|add_class:"form-control" }}
                </div>

                <div class="mb-3">
                    {{ form.password.errors }}
                    <label class="mb-1" for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password|add_class:"form-control" }}
                </div>

                <div class="mb-3">
                    {{ form.password2.errors }}
                    <label class="mb-1" for="{{ form.password2.id_for_label }}">Repeat password</label>
                    {{ form.password2|add_class:"form-control" }}
                </div>

                {% csrf_token %}
                <button class="btn btn-primary">Create account</button>
                <a href="{% url 'Generator:login' %}" class="btn btn-secondary">Back to login</a>
            </form>
        </div>
    </div>
{% endblock %}
</div>